body {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 100;
  color: #5B5B5B;
}

.centered_header {
  width: 55%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
